@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

/* =========================
   RECHARTS
   ========================= */

/* Không hiển thị outline khi click/focus biểu đồ */
.recharts-wrapper,
.recharts-wrapper *,
.recharts-wrapper svg,
.recharts-surface,
.recharts-wrapper:focus,
.recharts-wrapper *:focus,
.recharts-wrapper svg:focus,
.recharts-surface:focus,
.recharts-wrapper:focus-visible,
.recharts-wrapper *:focus-visible,
.recharts-wrapper svg:focus-visible,
.recharts-surface:focus-visible {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.recharts-wrapper svg {
  border: none !important;
}

/* Tắt mũi tên ở input number */
/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}